/*
Author: Amir Bennett
Date: 2026-02-09
File Name: styles.css
*/

/* =========================
   CSS RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/* =========================
   PAGE LAYOUT
========================= */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

/* =========================
   HEADER
========================= */
header {
  text-align: center;
  color: #373684;
  padding: 1rem 0;
}

header h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 1.5em;
}

/* =========================
   NAVIGATION
========================= */
nav {
  background-color: #373684;
}

nav ul {
  text-align: center;
}

nav li {
  display: block;
}

nav li a {
  display: block;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

nav li a:hover {
  background-color: #2f2c70;
}

/* =========================
   HERO IMAGE
========================= */
#hero img {
  width: 100%;
  height: auto;
  display: block;
}

/* =========================
   HIDE tab-desk CLASS
========================= */
.tab-desk {
  display: none;
}

/* =========================
   MAIN CONTENT
========================= */
main {
  flex: 1;
  background-color: #e5e5e5;
  padding: 2rem;
  border-radius: 10px;
}

main h2 {
  margin-bottom: 0.75rem;
}

main p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.action {
  font-size: 1.25em;
  font-weight: bold;
  color: #373684;
}

/* =========================
   INFO SECTION
========================= */
#info ul {
  margin-left: 10%;
}

/* =========================
   ROUND CLASS
========================= */
.round {
  border-radius: 8px;
}

/* =========================
   CONTACT STYLES
========================= */
#contact p {
  text-align: center;
}

.tel-link {
  background-color: #373684;
  padding: 2%;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}

.tel-link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}

#contact .email-link {
  color: #373684;
  text-decoration: none;
}

/* =========================
   MAP
========================= */
.map {
  border: 5px solid #373684;
  border-radius: 12px;
  width: 95%;
  height: 50%;
}

/* =========================
   FOOTER
========================= */
footer {
  text-align: center;
  font-size: 0.75rem;
  padding: 1rem 0;
  background-color: #ffffff;
}

footer a {
  color: #4645a8;
  text-decoration: none;
}

/* ============================= */
/* Media Query for Tablet Viewport */
/* ============================= */

@media screen and (min-width: 550px), print {

    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* Tablet Viewport: Style rule for header content */
    span.tab-desk {
        display: inline;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.5em;
        border-right: 1px solid #e5e9fc;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.25em 0.5em;
    }

    /* Tablet Viewport: Style rule for map */
    .map {
        width: 500px;
        height: 450px;
    }

}


/* ============================= */
/* Media Query for Desktop Viewport */
/* ============================= */

@media screen and (min-width: 769px), print {

    /* Desktop Viewport: Style rule for header */
    header {
        padding: 2%;
    }

    /* Desktop Viewport: Style rules for nav area */
    nav li a {
        padding: 0.5em 1.5em;
    }

    nav li a:hover {
        color: #373684;
        background-color: #e5e9fc;
    }

    /* Desktop Viewport: Style rules for main content */

    #info ul {
        margin-left: 5%;
    }

    main h3 {
        font-size: 1.5em;
    }

    #piano,
    #guitar,
    #violin {
        width: 29%;
        float: left;
        margin: 0 2%;
    }

}


/* ============================= */
/* Media Query for Print */
/* ============================= */

@media print {

    body {
        background-color: #fff;
        color: #000;
    }

}
