/*
Author: Amir Bennett
Date: 2026-02-09
File Name: styles.css
*/

/* =========================
   CSS RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/* =========================
   WEEK 7 SEMANTIC ELEMENT RESET
========================= */
section,
aside,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* =========================
   PAGE LAYOUT
========================= */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

/* =========================
   HEADER
========================= */
header {
  text-align: center;
  color: #373684;
  padding: 1rem 0;
}

header h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 1.5em;
}

/* =========================
   NAVIGATION
========================= */
nav {
  background-color: #373684;
}

nav ul {
  text-align: center;
}

nav li {
  display: block;
}

nav li a {
  display: block;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

nav li a:hover {
  background-color: #2f2c70;
}

/* =========================
   HERO IMAGE
========================= */
#hero img {
  width: 100%;
  height: auto;
  display: block;
}

/* =========================
   HIDE tab-desk CLASS
========================= */
.tab-desk {
  display: none;
}

/* =========================
   MAIN CONTENT
========================= */
main {
  flex: 1;
  background-color: #e5e5e5;
  padding: 2rem;
  border-radius: 10px;
}

main h2 {
  margin-bottom: 0.75rem;
}

main p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.action {
  font-size: 1.25em;
  font-weight: bold;
  color: #373684;
}

/* =========================
   INSTRUCTORS - MOBILE STYLES
========================= */

aside {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #373684;
  text-shadow: 3px 3px 10px #8280cb;
  margin-bottom: 1rem;
}

figure {
  position: relative;
  max-width: 275px;
  margin: 2% auto;
  border: 8px solid #373684;
}

figure img {
  width: 100%;
  display: block;
}

figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(55, 54, 132, 0.7);
  color: #fff;
  width: 100%;
  padding: 5% 0;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

/* =========================
   INFO SECTION
========================= */
#info ul {
  margin-left: 10%;
}

/* =========================
   ROUND CLASS
========================= */
.round {
  border-radius: 8px;
}

/* =========================
   CONTACT STYLES
========================= */
#contact p {
  text-align: center;
}

.tel-link {
  background-color: #373684;
  padding: 2%;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}

.tel-link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}

#contact .email-link {
  color: #373684;
  text-decoration: none;
}

/* =========================
   MAP
========================= */
.map {
  border: 5px solid #373684;
  border-radius: 12px;
  width: 95%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

#contact {
    text-align: center;
}

#contact .map {
    display: block;
    margin: 0 auto;
}
/* =========================
   FOOTER
========================= */
footer {
  text-align: center;
  font-size: 0.75rem;
  padding: 1rem 0;
  background-color: #ffffff;
}

footer a {
  color: #4645a8;
  text-decoration: none;
}

/* ============================= */
/* Media Query for Tablet Viewport */
/* ============================= */

@media screen and (min-width: 550px), print {

    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }

    span.tab-desk {
        display: inline;
    }

    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.5em;
        border-right: 1px solid #e5e9fc;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.25em 0.5em;
    }

    .map {
        width: 500px;
        height: 450px;
    }

    /* WEEK 7 TABLET GRID */

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    aside {
        grid-column: 1 / span 2;
    }
}

/* ============================= */
/* Media Query for Desktop Viewport */
/* ============================= */

@media screen and (min-width: 769px), print {

    header {
        padding: 2%;
    }

    nav li a {
        padding: 0.5em 1.5em;
    }

    nav li a:hover {
        color: #373684;
        background-color: #e5e9fc;
    }

    #info ul {
        margin-left: 5%;
    }

    main h3 {
        font-size: 1.5em;
    }

    #piano,
    #guitar,
    #violin {
        width: 29%;
        float: left;
        margin: 0 2%;
    }

    /* WEEK 7 DESKTOP GRID */

    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    aside {
        grid-column: 1 / span 4;
    }

    figcaption {
        font-size: 1em;
    }
}

/* ============================= */
/* Media Query for Print */
/* ============================= */

@media print {

    body {
        background-color: #fff;
        color: #000;
    }

}
