/* 
  External CSS File
  Demonstrates selectors, properties, values,
  box model, floats, classes, IDs, and comments
*/

/* ID selector */
#main-title {
  text-align: center;
  color: navy;
}

/* Class selector for span */
.highlight {
  color: orange;
  font-weight: bold;
}

/* Box model demonstration */
.box {
  width: 200px;
  padding: 20px;
  margin: 10px;
  border: 3px solid black;
  background-color: #f0f0f0;
}

/* Float examples */
.left-box {
  float: left;
}

.right-box {
  float: right;
}

/* Clear floats */
.clear-box {
  clear: both;
  padding: 15px;
  margin-top: 20px;
  background-color: #ddd;
}

/* Responsive image */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
}
